# Supabase (Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://bdwekdtrifxeqqcfvyou.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Dominio base para sites white-label das igrejas (ex: igreja.pregai.app)
NEXT_PUBLIC_TENANT_BASE_DOMAIN=localhost:3000

# Stripe (Fase 1)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Supabase CLI (migrations) - Settings -> Database
SUPABASE_DB_PASSWORD=
SUPABASE_PROJECT_REF=bdwekdtrifxeqqcfvyou
